.buttonCommon {
  text-align: center;
  cursor: pointer;
  p {
    margin: 0 auto;
  }
  &__loading {
    display: grid;
    place-content: center;
    &__circle {
      border: 5px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      border-left-color: transparent;
      width: 30px;
      height: 30px;
      animation: rotate 1s linear infinite;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
