.home {
  margin: 20px;
  &__bottonRegister {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    button {
      height: 40px;
    }
  }
  &__tableContact {
    overflow: auto;
  }
}
